@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Memochka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-black border-bottom box-shadow mb-3">
            <div class="main-container header-container">
                <a class="navbar-brand text-warning opacity-75 ms-5 me-3" asp-area="" asp-controller="Home" asp-action="MainPage">Memochka</a>
                <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span>
                        <img src="/images/togglerIcon.png" style="height: 30px; width: 30px"/>
                    </span>
                </button>
                <div class="collapse navbar-collapse"  id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a style="text-align: center" class="nav-link border rounded border-primary ms-2 @(Accessor.HttpContext.Request.Path.Value == "/Home/MainPage" ? "custom-active" : (Accessor.HttpContext.Request.Path.Value == "/" ? "custom-active" : "" ) )" asp-controller="Home" asp-action="MainPage">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-align: center" class="nav-link border rounded border-primary ms-2 @(Accessor.HttpContext.Request.Path.Value == "/Home/Memes" ? "custom-active" : "" )" asp-controller="Home" asp-action="Memes">Мемчики</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-align: center" class="nav-link border rounded border-primary ms-2 @(Accessor.HttpContext.Request.Path.Value == "/Home/Articles" ? "custom-active" : "" )" asp-controller="Home" asp-action="Articles">Статті</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-align: center" class="nav-link border rounded border-primary ms-2 @(Accessor.HttpContext.Request.Path.Value == "/Home/MemesOffer" ? "custom-active" : "" )" asp-controller="Home" asp-action="MemesOffer">Запропонушка</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown show ms-auto">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <img style="height: 30px; width: 30px;" src="@Url.Content("~/images/UserCab.png")" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
